__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg
.eggs/
*.so
*.deb
*.changes
*.buildinfo
*.tar.*
debian/.debhelper/
debian/tabber/
debian/files
debian/*.substvars
debian/*.debhelper.log
debian/*.debhelper
debian/debhelper-build-stamp
.pybuild/
.venv/
venv/
